<div class="ngx-portal-root ngx-base-font-family">
  <ngpx-header
    class="ngpx-portal-header"
    [view]="portalView"
    [navItems]="navItems"
    [showMenu]="showMenu"
    [customColor]="'ngpx-portal-header__nav--100'"
  >
    <div select="[headerNavItems]" class="ngx-d--flex">
        <ngpx-sidebar
        [sideNavigationElements] = "sideNavigationElements"
        (fireNavigationState)="fireNavigationState()">
      </ngpx-sidebar>
    </div>
</ngpx-header>
<!-- #start web Navigation -->
<ng-container *ngIf="portalView === 'web'">
  <ngpx-web-module-bar>
    <div class="ngx-d--flex ngx-flex--row ngpx-color-primary-1010 ngx-base-font-size--3 ngpx-bgcolor-primary-100 ngpx-actions-menu" *ngIf="(portalTopics$ | async)">
      
      
      <div class="ngpx-actions ngpx-actions--web ngpx-actions--application-name ngx-hover ngx-hover--primary" *ngFor="let item of (portalTopics$ | async)">
        <a class="ngx-basee-font--3 ngx-base-font--bold ngx-no-padding-margin ngpx-uppercase">{{item.name}}</a>
      </div>
      <div class="ngpx-bar ngpx-bar--middle">
        <div class="ngpx-actions ngpx-actions--web ngpx-actions--application-name ngx-hover ngx-hover--primary">
          <ngx-input-text [type]="'search'"></ngx-input-text>
        </div>
      </div>
    </div>
  </ngpx-web-module-bar>
  <main class="ngpx-portal-content ngpx-portal-content--web ngpx-bgcolor-primary-120">
    <router-outlet class=""></router-outlet>
  </main>
  <footer class="ngpx-portal-footer ngx-portal--dark ngx-base-font-size--3">
    <span>@Brix-Running</span>
    <span class=""> <a class="ngpx-portal-footer__link-impress ngpx-color-primary-100 ngx-hover ngx-hover--primary" [routerLink]="['/web/impressum/']">Impressum</a></span>
  </footer>
</ng-container>

<!-- #start app Navigation -->
<ng-container *ngIf="portalView === 'app'">
    <div class="ngx-d--flex">
      <ng-container *ngIf="isAuthenticated$">
    </ng-container>
      <main #contentWrapper class="ngpx-portal-content ngpx-portal-content--app ngx-p--relative">
        <router-outlet class=""></router-outlet>
      </main>
    </div>
    <!-- Spinner and overlay-->
      <!-- <section *ngIf="(overlayState$ | async)" class="overlay ngx-bg-grey-d--secondary ngx-w--100 ngx-h--100">
        </section>
          <section *ngIf="(spinnerState$ | async)" class="spinner">
            <mat-spinner></mat-spinner>
        </section> -->

      <!-- Old sidebar -->
        <!-- <ngx-sidebar-app [hidden]="!isAuthenticated$"
        [sideNavigationActive]="(sideNavigationIsActive | async)"
        [sideNavigationElements] = "sideNavigationElements"
        [ngClass]="(sideNavigationIsActive | async) ? 'ngx-sidebar--is-active' : 'ngx-sidebar--is-inactive'"

        (fireNavigationState)="fireNavigationState()"></ngx-sidebar-app> -->

</ng-container>
<!-- #end App Navigation -->

</div>
